page-dashboard {

  .section {
    color: #7F4BB3;
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 5px;
  }

  .project-section {
    color: #7F4BB3;
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
  }

  .task-block{
    padding-top: 13px;
  }

  .completed-task{
    color: #d7d7d7;
  }

}
