<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <h3>{{projectName}}</h3>
  <p>{{projectDescription}}</p>
  <ion-item>
    <ion-label floating>Add Task</ion-label>
    <ion-input [(ngModel)]="newTask" (keypress)="eventHandler($event)" ></ion-input>
  </ion-item>
  <ion-list>
    <div *ngFor="let task of allTasks">
      <ion-item *ngIf="task.is_sect==true"  class="section">
        {{task.task_name}}
      </ion-item>
      <ion-item-sliding #item>
        <ion-item *ngIf="task.is_sect==false" [ngClass]="{'completed-task-block':task.status=='completed'}" no-lines>
          <!--<span [ngClass]="{'fa fa-star ml-auto checked custom-star':task.interested}" (click)="updateInterested(task)"></span>-->
          <!--<span [ngClass]="{'fa fa-star ml-auto unchecked custom-star':!task.interested}" (click)="updateInterested(task)"></span>-->
          <ion-label [ngClass]="{'completed-task':task.status=='completed'}">{{task.task_name}}</ion-label>
          <ion-checkbox color="green" [ngClass]="{'completed-checkbox':task.status=='completed'}"
                        [checked] = "task.status=='completed'"
                        [disabled] = "task.disabled"></ion-checkbox>
        </ion-item>
      </ion-item-sliding>
      <ion-item-options side="left">
        <button ion-button (click)="favorite(item)">Favorite</button>
        <button ion-button color="danger" (click)="share(item)">Share</button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button (click)="archiveTask(task)">
          Archive
        </button>
      </ion-item-options>
      <ion-item-options>
        <button ion-button expandable (click)="deleteTask(task)">Delete</button>
      </ion-item-options>
    </div>

  </ion-list>
</ion-content>
