// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
span {
  color: #78A8FF;
}
.logo {
  font-size: 35px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}
.special {
  color: #7F4BB3;
}
.project-section {
  color: #3fa49a;
  font-size: 14px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}
.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 3px #FFF;
}

.avatar-rounded{
  border-radius: 50%;
  border: solid 3px #FFF;
}
.padding-1 {
  padding: 5px;
}
.active {
  background: #e3e4e8;
  border-radius: 3px;
}
a {
  color: black;
  text-decoration: none !important;
}
.menu-content {
  background-color: #f6f6f6;
}
