<ion-menu [content]="content">

  <ion-content class="menu-content">
    <div padding>
      <div *ngFor="let project of allProjects">
        <div *ngIf="project.is_sect==true" class="project-section">{{project.project_name}}</div>
        <div *ngIf="project.is_sect==false" href="" class="padding-1" [ngClass]="{'active':project.id==active_id}" (click)="openDashboard(project.id)" menuClose >
          <img src="{{project.image_url}}" alt="Avatar" class="avatar"> {{project.project_name}}
        </div>
      </div>
    </div>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
